header {
  background: linear-gradient(to right, #3f63e8, #320c63);
  padding: 1rem;
}

#today {
  border: 1px solid black;
  min-height: 8rem;
}

/* Makes search button sit below input box for city search  */
.input-group {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#search-input {
  height: 3rem;
}

button,
#search-input,
#search-button {
  width: 100%;
  border-radius: 5px;
}

button {
  margin-top: 1rem;
}

#five-days {
  display: flex;
  justify-content: space-between;
}

.card-body {
  background-color: #3a4a57;
  color: white;
}

.pad {
  padding-left: 0.6rem;
}

#city-and-date,
#form-heading {
  font-weight: 700;
  font-size: 1.8rem;
}

.five-day-forcast-date {
  font-weight: 800;
  font-size: 1.4rem;
}
